%btn {
  display: inline-block;
  border-radius: 4px;
  padding: 8px 20px;
  margin: 4px;
  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  // background-color: lighten($primary-color, 10%);
  @include set-background(lighten($primary-color,10%));
}

.btn-secondary {
  @extend %btn;
  // background-color: $secondary-color;
  @include set-background($secondary-color);
}

